.landing-page {
  padding: 10px;
  height: 100%;
  width: 100%;
}

.logo-landing-page {
 position: absolute;
  top: 593px;
  left: 194px;
  width: 326px;
  z-index: -1;
}

.logo-landing-page-shadow {
  position: absolute;
  top: 0px;
  left: 0px;
}

.temp-room {
  position: absolute;
  left: 543px;
  top: 166px;
  width: 797px;
  z-index: -3;
}

.landing-bg-layer {
  position: absolute;
  top: -338px;
  right: -221px;
  width: 2700px;
  margin-left: 100px;
  z-index: -2;
  transition: transform 1000ms;
  will-change: transform;
}

.wrapper.is-nav-open {
  transform: translateX(1040px)
}

.landing-page-btns {
  position: absolute;
  top: 175px;
  left: 211px;
  z-index: 10;
}

.menu {
  border: 1px, solid, white;
}