@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i&display=swap');

.landing-page {
  padding: 10px;
  height: 100%;
  width: 100%;
}

.logo-landing-page {
 position: absolute;
  top: 593px;
  left: 201px;
  width: 326px;
  z-index: 10;
}

.logo-landing-page-shadow {
  position: absolute;
  top: 0px;
  left: 0px;

}

.temp-room {
  position: relative;
  left: 562px;
  top: 116px;
  width: 797px;
  z-index: 1;
}

.landing-bg-layer {
  position: absolute;
  top: -338px;
  right: -221px;
  width: 2700px;
  z-index: 2;
}

.landing-page-btns {
  position: absolute;
  top: 175px;
  left: 211px;
  z-index: 10;
}

.log-in, .sign-up {
  padding-bottom: 68px;
  border-radius: 35px;
  background-color: #E1D25c;
  width: 177px;
  height: 64px;
  margin: 15px;
  box-shadow: 5px 10px #5C5941;
  outline: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 45px;
  color: #5C5941;

}