@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i&display=swap');

.logo-log-in {
  padding: 45px;
  width: 200px;
}

.input-div {
  position: relative;
  right: 25px;
}

.log-in-form {
  display: block;
  text-align: center;
  position: relative;
  top: 120px;
}

.email-input {
  position: relative;
  left: 3px;

}

.password-input {
  position: relative;
  right: 10px;
}



