.logo-log-in {
  padding: 45px;
  width: 200px;
}

.logo-log-in:hover {
  cursor: pointer;
}

.input-div-log-in {
  position: relative;
  right: 25px;
}

.log-in-form {
  z-index: 10000;
  display: block;
  text-align: center;
  position: relative;
  top: 120px;
}

.email-input-log-in {
  position: relative;
  left: 3px;
}

.password-input-log-in {
  position: relative;
  right: 11px;
}

.log-in-button {
  margin-top: 75px;
}


