.logo-log-in {
  width: 200px;
}

.log-in-h5 {
  background: #E1D25c;
}

.log-in-button {
  padding-bottom: 68px;
  border-radius: 35px;
  background-color: #E1D25c;
  width: 177px;
  height: 64px;
  margin: 15px;
  box-shadow: 5px 10px #5C5941;
  outline: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 45px;
  color: #5C5941;
}

input {
  text-align: center;
  width: 400px;
  height: 40px;
}