.main-menu-buttons-div {
  padding-top: 72px;
  margin: auto;
  text-align: center;
  width: 800px;
}

.main-menu-buttons {
  width: 230px;
  padding-left: 15px;
  padding-right: 15px;
}

.logo-main-menu {
  position: absolute;
  bottom: 5px;
  right: -24px;
  width: 201px;
}