#menu-container {
  color: #FCF6CA;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  font-size: 25px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 10px;
  margin-top: 60px;
  margin-left: 60px;
  height: 1000px;
}


.item-list, .cart-list {
  height: 700px;
  border: 1.5px solid #FCF6CA;
  border-radius: 40px;
  width: 400px;
  margin: 10px;
  padding: 20px;
}

.item-list {
  width: 800px;
}

.beer-list, .food-list {
  display: inline-block;
  padding: 20px;
  width: 300px;

}

.beer-list {
  position: absolute;
  left: 105px;
}

.food-list {
  position: absolute;
  left: 526px;
}

.food-list-header, .beer-list-header {
  color: #FCF6CA;
  font-family: 'Satisfy', cursive;
  font-size: 40px;
  margin-bottom: 0px;
  text-align: center;
}

.food-name:hover, .beer-name:hover {
  cursor: pointer;
}

.vl {
  display: inline-block;
  border-left: 1.5px solid #FCF6CA;
  height: 500px;
  position: absolute;
  left: 491px;
  margin-left: -3px;
  top: 209px;
 }
