.profile {
  display: inline-block;
}

.profile-button {
  border: 2px solid #FCF6CA;
  background-color: black;
  border-radius: 100%;
  position: absolute;
  width: 42px;
  height: 42px;
  right: 30px;
  top: 28px;
  font-family: 'Work Sans', sans-serif;
  font-size: 26px;
  color: #FCF6CA;
  transition: all 750ms ease-in-out;
  z-index: 3;
}

.profile-button:hover {
  cursor: pointer;
}

.initials {
    position: relative;
    top: -31px;
    left: 3px;
}

.table {
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: rgb(235, 229, 187);
    position: absolute;
    right: -629px;
    top: 2px;
    display: table;
    margin: 0 auto;
    z-index: 1;
    transition: transform 750ms ease-in-out 200ms;
}

.options.is-profile-open {
  transform: translateX(-280px);
  animation-fill-mode: forwards;
}

.profile-mask {
  position: absolute;
  right: -46px;
  z-index: 2;
  top: 41px;
  background: black;
  height: 24px;
  width: 100px;
}

ul#list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
	}
	ul#list li {
    display: inline;
    padding-left: 5px;
    padding-top: 5px;
  }
  
  .logout:hover{
    cursor: pointer;
  }